<div class="left">
<p id="participant-count"></p></div>
<%= link_to root_path, class:"leave_button button4" do %>
  <h1 class="leave-text">Leave Meeting</h1>
<% end  %>
<div class = "right">

<button id="watch-mode">Present Screen</button></div>