<main>
  <div class="landing">
    <h1><%= @welcome_message %></h1>
      <% @sessions.each do |session| %>
        <%= button_to "Join Room #{session.id}", {:controller => "video", :action => "name", :session_id => session.session_id} , :method=>:post  %>
        <% end %>
  </div>
</main>