@import "bulma";
@import "functions";


@import 'custom';

.endmeet{
  background-color: red!important;
}
.btn{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover {
    background-color: RoyalBlue;
}



hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.notification {
    height: 10%;
}

.alert{
  horiz-align: center;

}
.container{
  height: 100%;
}

.notification:not(:last-child) {
    margin-bottom: 0;
}
a {
  text-decoration: none;
}

.input-group{
  top: 40px;
  margin: 40px;
  width: 100%;
}

.input-group-append{
  position: relative;
  left: 50%;
}
.roomchat-input{
  width: 100%;
}

.roomchat{
  position: relative;
  left: 0%;
}
.sendername{
  color: red;
  float:left;
}
.currentusername{
  color: blue;
  float:left;
}

.message-content{
  left: 0px;
}
.leave_button {
  background-color: red;
  border: none;
  color: red;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
  height: 100%;
  margin-left: 15%;
  text-decoration: none !important;
}

#outer
{
  width:100%;
  text-align: center;
}
.inner
{
  display: inline-block;
}

